/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
	margin: 0;
	padding: 0px;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Merriweather', serif;
}

header {
	width: 100%;
	background-image: url(images/island-hlavicka.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 20px;
	text-align: center;
}

header p {
	margin: 40px;
}

.name::before {
	content: "";
	display: block;
	width: 80px;
	height: 2px;
	background-color: white;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, li {
	font-family: 'Raleway', sans-serif;;
}

.menu {
	margin: 50px 0 ;
	text-align: center;
}

.menu ul {
	list-style-type: none;
	padding: 0 20px;
}

.menu li {
	border-bottom: 2px solid #edecec;
	margin: 10px;
}

.menu a {
	text-decoration: none;
	color: rgb(172, 171, 171);
	text-transform: uppercase;
}

section p, section h2 {
	padding: 20px;
}

h2 {
	position: relative;
}

h2::after {
	content: "";
	display: block;
	width: 100px;
	height: 5px;
	background-color: #629fe0	;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
	margin-left: -20px;
}

img {
	width: 100%;
}


.photo-description, .photo-description a {
	text-align: center;
	color: rgb(172, 171, 171);
	margin: 0;
	padding: 10px 0 20px 0;
}
.photo-description-galery p, .photo-description-galery a {
	text-align: center;
	color: rgb(172, 171, 171);
	margin: 0;
	padding: 5px;
}
.photo-description-galery {
	margin-bottom: 15px;
}
.photo {
	margin: 35px 0 0 0;
}

footer {
	font-size: 10px;
	background-color: rgb(219, 219, 219);
	color: rgb(136, 134, 134);
	padding: 20px; 
	box-shadow: 0px -3px 10px rgb(194, 192, 192);
}

footer a {
	color: rgb(136, 134, 134);
}

@media screen and (min-width: 540px) {
	h1 {
		font-size: 50px;
	}
	.menu ul {
		display: flex;
	}
	.menu li {
		font-size: 12px;
		flex-grow: 1;
		border-top: 2px solid #edecec;
		border-bottom: 2px solid #edecec;
		padding: 5px 10px;
		margin: 0;
	}
	.border-right {
		border-right: 2px solid #edecec;
	}
	.whole-page-img {
		position: relative;
	}
	.photo-description a {
		color: white;
	}
	.photo-description {
		color: white;
		font-size: 10px;
		position: absolute;
		padding: 15px;
		bottom: 0;
		right: 0;
	}
	.photo {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	/* .photo-description-galery {
		display: none;
	} */
	/* .photo-description-galery:hover {
		margin-bottom: 2rem;
	} */
	.photo-relative{
		position: relative;
	}
	.photo-relative img {
		width: 100%;
		height: 100%;
	}
	.photo-description-galery {
		display: block;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.684);
		width: 100%;
		bottom: 0;
		margin-bottom: 0;
		/* transition: margin-bottom 2s; */
	}
	.photo-description-galery p, .photo-description-galery a {
		color: white;
		font-size: 14px;
	}
}

@media screen and (min-width: 960px) {
	header p {
		margin: 20px 150px 20px 150px;
	}
	h1 {
		font-size: 80px;
		margin: 20px 0;
	}
	.name {
		padding-bottom: 60px;
	}
	.content {
		background-color: white;
		width: 960px;
		margin: -50px auto 0 auto;
	}
	.left-menu {
		display: flex;
	}
	.menu {
		flex-basis: 25%;
	}
	.introduction {
		flex-basis: 75%;
	}
	.menu ul {
		display: block;
	}
	.menu li {
		border: none;
		border-bottom: 2px solid #edecec;
		margin: 10px;
		text-align: left;
	}
	.why-island p {
		padding-right: 20%;
	}
	.tips-to-see {
		padding-left: 20%;
	}
	.tips-to-see h2::after {
		margin-left: -50px;
	}
	.photo {
		grid-template-columns: repeat(3, 1fr);
	}
}